/*
Content
*/
.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  border-top: 10px solid $primary-color;
  height: calc(100vh - 260px);
  flex-grow: 4;
  overflow-y: scroll;
  &__teaser--front {
    display: none;
    line-height: 2.5rem;
    font-size: 0.7rem;
    max-height: 400px;
    padding-right: 3rem;
    overflow-y: scroll;
    & blockquote {
      font-family: $title;
      font-size: 1.5rem;
    }
  }
  &__main--front {
    display: none;
    padding-right: 3rem;
    overflow-y: scroll;
  }
  &__section {
    width: 100%;
  }
  &__post, &__post--front {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 1rem .7rem;
    border-radius: 10px;
    line-height: 1.8rem;

    a {
      text-decoration: none;
      color: $active-color;
    }
    div.no-bg {
      background-color: transparent;
    }
  }
  &__post {
    padding: 2rem;

    &--front {
      padding: 0 0 2rem 2rem;
    }
    &-links {
      display: flex;
      flex-direction: row;
    }
    &--galerie {
      display: flex;
      flex-wrap: wrap;
      background-color: rgba(255, 255, 255, 0.4);
      margin: 1rem 1rem 1rem 1rem;
      border-radius: 10px;
      line-height: 1.8rem;
      padding: 2rem;
    }
  }
  &__img {
    margin: 0 0.5rem;
    & img {
      width: 90%;
    }
  }
}

.visible-content {
  display: inline-block;
}

@media screen and(min-width: 680px) {
  .content {
    height: calc(100vh - 260px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0;
    &__section {
      width: 76%;
    }
    &__post {
      margin-left: 24%;
      &--front {
        margin-left: 40%;
        width: 45%;
      }
      &--galerie {
        margin-left: 24%;
        flex-wrap: nowrap;
      }
    }
    &__img {
      margin: 0;
      & img {
        width: 80%;
      }
    }
  }
}