/*navigation*/
.nav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  background-color: $primary-color;
  padding: 0 1rem;
  color: $secondary-font-color;
  z-index: 1000;
  transition: left 1s ease-in-out;
  &__block {
    position: relative;
    width: 100vw;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $primary-color;
    height: 60px;
    &--frontpage {
      position: fixed;
      width: 100vw;
      left: 0;
      top: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: $primary-color;
      height: 60px;
      z-index: 1000;
    }
  }
}

.hidden {
  left: -300px;
}

.main-menu {
  &__list {
    padding: 1rem;
    list-style-type: none;
    & li {
      line-height: 2rem;
      min-width: 100px;
      &:hover .sub-menu li{
        display: block;
      }
    }
    & a {
      text-decoration: none;
      color: $secondary-font-color;
      padding-right: 2rem;

      &:focus {
        text-decoration: none;
        color: $hover-color;
      }
    }
    & .sub-menu li {
      display: none;
      color: $secondary-font-color;
    }

  }
}

@media screen and(min-width: 680px) {
  .nav {
    display: inline-block;
    position: relative;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0 1rem;
    margin-top: -3px;
    transition: none;
    &--frontpage {
      display: inline-block;
      position: relative;
      left: 0;
      width: 100%;
      height: 50px;
      transition: none;
    }
    &__block {
      display: none;
      &--frontpage {
        display: none;
      }
    }
  }

  .main-menu {
    &__list {
      padding: 0 1rem;
      list-style-type: none;
      li {
        line-height: 50px;
        float: left;
        min-width: 100px;
      }
      a {
        text-decoration: none;
        color: $secondary-font-color;
        padding-right: 2rem;

        &:hover {
          text-decoration: none;
          color: $hover-color;
        }
      }
      ul.sub-menu {
        position: absolute;
      }
      .sub-menu li {
        display: none;
        position: relative;
        clear: both;
        top: 100%;
        min-width: 250px;
        padding: 0 1rem;
        color: $font-color;
        line-height: 2rem;
        background-color: #FFFFFF;
        list-style-type: none;
        z-index: 1000;
        border: 1px solid lighten($primary-color, 50%);
        border-collapse: collapse;
        a {
          color: $font-color;
          &:hover {
            color: $hover-color;
          }
        }
      }
      li:hover .sub-menu li {
        display: block;
      }
    }
  }
}