/**
Slider
 */

.slider-for {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 95px);
  background-size: cover;
  overflow: hidden;
}

@media screen and(min-width: 680px) {
  .slider-for {
    height: calc(100vh - 96px);
  }
}