/*
Typo
 */

.post__title, h3 {
  font-family: $subtitle;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;

  & a {
    text-decoration: none;
    color: $active-color;
  }
}

h2.typo-front-page{
  margin: 2rem auto 0 auto;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.1rem;
  width: 50%;
  background-color: lighten($secondary-font-color,5%);
  box-shadow: 6px 6px 6px #000;
  border-radius: 4px;
  &:hover{
    background-color: lighten($secondary-font-color,20%);
  }
  & a{
    color: black;
  }
}

h4, h5{
  font-size: 0.9rem;
  font-family: $subtitle;
  margin-top: 0.5rem;
}

blockquote{
  font-family: $title;
  font-size: 1.5rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.main-title {
  margin-top: -1rem;
  font-family: $title;
  color: $active-color;
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 0.2rem;
  text-align: center;
  line-height: 3.5rem;
  &.typo-front-page{
    line-height: 6rem;
  }
}

@media screen and(min-width: 680px) {
  .main-title {
    font-size: 5rem;
  }
}