@import "fonts";
@import "colors";

/*univ*/

*{
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $basetype;
  font-size: 14px;
}

body{
  background-size: cover!important;
  background-attachment: fixed!important;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.wrapper{
  width: 100vw;
}

/*
Fonts
 */

.post__title{
  font-family: $subtitle;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;

  & a{
    text-decoration: none;
    color: $active-color;
  }
}

.main-title{
  font-family:$title;
  color: $active-color;
  text-align: center;
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 0.2rem;
}

/*
header
 */

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw!important;
  height: 150px!important;
  background-size: cover!important;
}

/*navigation*/

.navigation{
  position: relative;
  left: -280px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  background-color: $primary-color;
  padding: 0 1rem;
  color: $secondary-font-color;
  z-index: 1000;
  transition: left 1s ease-in-out;
  &:hover{
    left: 0px;
  }
}

.main-menu{
  &__list{
    padding: 1rem;
    list-style-type: none;
    & li{
      line-height: 2rem;
      min-width: 100px;
    }
    & a{
      text-decoration: none;
      color: $secondary-font-color;
      padding-right: 2rem;

      &:focus{
        text-decoration: none;
        color: $hover-color;
      }
    }
    & .sub-menu li{
      min-width: 200px;
      padding: 0 1rem;
      color: darken($secondary-font-color, 20%);
      line-height: 2rem;
      list-style-type: none;
      z-index: 1000;
      & a{
        color: darken($secondary-font-color, 20%);
        &:focus{
          color: $hover-color;
        }
      }
    }
  }
}

/*Content*/

.content{
  height: calc(100vh - 250px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__section{
    width: 100%;
  }
  &__post {
    background-color: rgba(255,255,255,0.4);
    flex-grow: 6;
    margin: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.8rem;

    & a{
      text-decoration: none;
      color: $active-color;
    }
  }
}

.sidebar{
  order: -1;
  width: 100%;
  margin: 1rem;

  &__image{
    max-width: 70%;
    margin-bottom: 1rem;
  }
}

/*
Footer
 */

.footer{
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: $primary-color;
  padding: 0 1rem;
  color: $secondary-font-color;
}

.sub-menu__list{
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0.3rem;
  & a{
    text-decoration: none;
    color: $secondary-font-color;
    padding: 0 0.3rem;
    &:hover{
      text-decoration: none;
      color: $hover-color;
    }
  }
}

@media screen and(min-width: 450px) {
  .header{
    height: 219px!important;
  }
  .main-title{
    font-size: 5rem;
  }
  .navigation{
    display: inline-block;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0 1rem;
    margin-top: -3px;
    transition: none;
  }
  .main-menu{
    &__list{
      padding: 0 1rem;
      list-style-type: none;
      & li{
        line-height: 50px;
        float: left;
        min-width: 100px;
      }
      & a{
        text-decoration: none;
        color: $secondary-font-color;
        padding-right: 2rem;

        &:hover{
          text-decoration: none;
          color: $hover-color;
        }
      }
      & .sub-menu li{
        display: none;
        position: relative;
        clear: both;
        top: 100%;
        min-width: 200px;
        padding: 0 1rem;
        color: $font-color;
        line-height: 2rem;
        background-color: #FFFFFF;
        list-style-type: none;
        z-index: 1000;
        border: 1px solid lighten($primary-color,50%);
        border-collapse: collapse;
        & a{
          color: $font-color;
          &:hover{
            color: $hover-color;
          }
        }
      }

      & li:hover .sub-menu li{
        display: block;
      }
    }
  }
  .content{
    height: calc(100vh - 317px);
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    &__section{
      width: 76%;
    }
    &__post {
      margin-left: 24%;
    }
  }
  .sidebar{
    order: 0;
    width: 24%;
    margin: 1rem;

    &__image{
      max-width: 70%;
      margin-bottom: 1rem;
    }
  }
}