/*font-face*/
@font-face{
    font-family: aquiline;
    src: url(../fonts/AquilineTwo.ttf);
    src: url(../fonts/AquilineTwo.eot),
    url(../fonts/AquilineTwo.svg),
    url(../fonts/AquilineTwo.woff);
}
@font-face{
    font-family: lato;
    src: url(../fonts/lato-light.ttf);
    src: url(../fonts/lato-light.eot),
    url(../fonts/lato-light.svg),
    url(../fonts/lato-light.woff);
}

@font-face{
    font-family: lato_semi_bold;
    src: url(../fonts/lato-semibold.ttf);
    src: url(../fonts/lato-semibold.eot),
    url(../fonts/lato-semibold.svg),
    url(../fonts/lato-semibold.woff);
}

*{
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: lato, verdana, sans-serif;
    font-size: 14px;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.clearfix:after{
    clear: both;
    content:"";
    display: table;
}

/**
Navigation
 */
.front__nav--main{
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: #3D3D3D;
    padding: 0 1rem;
}
.front__nav--main p{
    float: left;
    line-height: 50px;
    padding-right: 2rem;
}

.front__nav--main p a{
    text-decoration: none;
    color: #D3D3D3;
}

.front__nav--main ul{
    list-style-type: none;
}

.front__nav--main ul li{
    float: left;
    line-height: 50px;
}

.front__nav--main ul li a{
    text-decoration: none;
    color: #D3D3D3;
}

.front__nav--main ul li a:hover{
    text-decoration: none;
    color: #95711C;
}