/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }
  .wp-caption.alignnone {
    margin: 5px 20px 20px 0; }
  .wp-caption.alignleft {
    margin: 5px 20px 20px 0; }
  .wp-caption.alignright {
    margin: 5px 0 20px 20px; }
  .wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto; }
  .wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px; }

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }
  .screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/*
font-face
*/
@font-face {
  font-family: aquiline;
  src: url(../fonts/AquilineTwo.ttf);
  src: url(../fonts/AquilineTwo.eot), url(../fonts/AquilineTwo.svg), url(../fonts/AquilineTwo.woff); }

@font-face {
  font-family: lato;
  src: url(../fonts/lato-light.ttf);
  src: url(../fonts/lato-light.eot), url(../fonts/lato-light.svg), url(../fonts/lato-light.woff); }

@font-face {
  font-family: lato_semi_bold;
  src: url(../fonts/lato-semibold.ttf);
  src: url(../fonts/lato-semibold.eot), url(../fonts/lato-semibold.svg), url(../fonts/lato-semibold.woff); }

.lazy {
  display: flex;
  position: absolute;
  top: 46px;
  height: calc(100vh - 96px); }

.slide {
  width: 100vw;
  background-size: cover;
  background-attachment: fixed; }

/*univ*/
* {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: lato, verdana, sans-serif;
  font-size: 16px; }

body {
  background-size: cover !important;
  background-attachment: fixed !important; }

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw; }

/*
Header
 */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw !important;
  height: 150px !important;
  background-size: cover !important; }

@media screen and (min-width: 680px) {
  .header {
    height: 219px !important; } }

/*navigation*/
.nav {
  position: fixed;
  top: 0;
  left: -300px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  background-color: #4A4D45;
  padding: 0 1rem;
  color: #D3D3D3;
  z-index: 1000;
  transition: left 1s ease-in-out; }
  .nav__block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #4A4D45;
    height: 60px; }

.main-menu__list {
  padding: 1rem;
  list-style-type: none; }
  .main-menu__list li {
    line-height: 2rem;
    min-width: 100px; }
  .main-menu__list a {
    text-decoration: none;
    color: #D3D3D3;
    padding-right: 2rem; }
    .main-menu__list a:focus {
      text-decoration: none;
      color: #A4A586; }
  .main-menu__list .sub-menu li {
    display: none; }

@media screen and (min-width: 680px) {
  .nav {
    display: inline-block;
    position: relative;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0 1rem;
    margin-top: -3px;
    transition: none; }
    .nav__block {
      display: none; }
  .main-menu__list {
    padding: 0 1rem;
    list-style-type: none; }
    .main-menu__list li {
      line-height: 50px;
      float: left;
      min-width: 100px; }
    .main-menu__list a {
      text-decoration: none;
      color: #D3D3D3;
      padding-right: 2rem; }
      .main-menu__list a:hover {
        text-decoration: none;
        color: #A4A586; }
    .main-menu__list ul.sub-menu {
      position: absolute; }
    .main-menu__list .sub-menu li {
      display: none;
      position: relative;
      clear: both;
      top: 100%;
      min-width: 200px;
      padding: 0 1rem;
      color: #4A4D45;
      line-height: 2rem;
      background-color: #FFFFFF;
      list-style-type: none;
      z-index: 1000;
      border: 1px solid #c9cbc6;
      border-collapse: collapse; }
      .main-menu__list .sub-menu li a {
        color: #4A4D45; }
        .main-menu__list .sub-menu li a:hover {
          color: #A4A586; }
    .main-menu__list li:hover .sub-menu li {
      display: block; } }

/*
Content
*/
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 10px solid #4A4D45; }
  .content__section {
    width: 100%; }
  .content__post, .content-front__post {
    background-color: rgba(255, 255, 255, 0.4);
    flex-grow: 6;
    margin: 1rem 2rem 1rem 1rem;
    padding: 3rem;
    border-radius: 10px;
    line-height: 1.8rem; }
    .content__post a, .content-front__post a {
      text-decoration: none;
      color: #95711C; }
    .content__post div.no-bg, .content-front__post div.no-bg {
      background-color: transparent; }
  .content__img {
    margin: 0 0.5rem; }

@media screen and (min-width: 680px) {
  .content {
    height: calc(100vh - 317px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0; }
    .content__section {
      width: 76%; }
    .content__post {
      margin-left: 24%; }
    .content-front__post {
      margin-left: 40%;
      width: 45%; } }

/*
Footer-Navigation
 */
footer .footer-menu {
  display: none; }

.footer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #4A4D45;
  padding: 0 1rem;
  font-size: 0.75rem;
  color: #D3D3D3; }
  .footer-menu {
    display: block; }
    .footer-menu__list {
      display: flex;
      flex-direction: column;
      list-style-type: none; }
      .footer-menu__list a {
        text-decoration: none;
        color: #D3D3D3;
        padding: 0 0 0 1rem; }
        .footer-menu__list a:focus {
          text-decoration: none;
          color: #A4A586; }

.fb-like {
  margin-left: 1rem; }

@media screen and (min-width: 680px) {
  footer .footer-menu {
    display: block; }
  nav .footer-menu {
    display: none; }
  .footer {
    position: fixed;
    bottom: 0; }
    .footer-menu {
      display: block; }
      .footer-menu__list {
        align-items: center; }
        .footer-menu__list a:hover {
          text-decoration: none;
          color: #A4A586; } }

/*
Typo
 */
.post__title, h3 {
  font-family: lato_semi_bold;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase; }
  .post__title a, h3 a {
    text-decoration: none;
    color: #95711C; }

h2.typo-front-page {
  text-align: center; }

.main-title {
  margin-top: -1rem;
  font-family: aquiline;
  color: #95711C;
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 0.2rem;
  text-align: center; }

@media screen and (min-width: 680px) {
  .main-title {
    font-size: 5rem; } }

/*
Buttons
 */
.button, .wp-exclude-emoji, .wp-exclude-emoji .markItUpEditor {
  padding: 0.5rem;
  border-radius: 5px;
  opacity: 0.5; }

#hamburger {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  z-index: 1000; }
  #hamburger:after {
    content: url("../img/hamburger.svg"); }

/* sidebar */
.sidebar {
  order: -1;
  width: 100%;
  margin: 1rem; }
  .sidebar__image {
    max-width: 50%;
    margin-bottom: 1rem; }
  .sidebar__list {
    list-style-type: none;
    line-height: 1.8rem; }
  .sidebar a {
    color: #4A4D45; }
    .sidebar a:visited {
      color: #6a5014; }

@media screen and (min-width: 680px) {
  .sidebar {
    order: 0;
    width: 24%;
    margin: 1rem; }
    .sidebar__image {
      max-width: 70%;
      margin-bottom: 1rem; } }
